{% extends 'main.html' %}
{% load static %}

{% block content %}
<head>
  <style>
    hr {
      background-color: black;
      color: black;
      height: 5px;
      border-radius: 15px;
    }
  </style>
</head>
<body style="background-color: rgb(118, 118, 176);">
<main id="main">

  <!-- ======= Hero Slider Section ======= -->
<br><hr><br>
  {% for i in category %}
<div style="display: inline; margin: 0 auto;">
  <h5 style="text-align: center; display: inline; margin-left: 20px;">
  <a href="{% url 'home' %}?category={{i.id}}" style="text-decoration: none; color: gold;">
    {{i.name}}
  </a>  
  </h5>
</div>
  {% endfor %}
<br><hr>



  <section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
      <div class="row">
        <div class="col-12">
          <div class="swiper sliderFeaturedPosts">
            <div class="swiper-wrapper">
              {% for i in discount %}
              <div class="swiper-slide">
                <a href="{{i.image.url}}" class="img-bg d-flex align-items-end"
                  style="background-image: url('{{i.image.url}}');">
                  <div class="img-bg-inner">
                    <h2>{{i.discount}}</h2>
                    <p>{{i.name}}</p>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
            <div class="custom-swiper-button-next">
              <span class="bi-chevron-right"></span>
            </div>
            <div class="custom-swiper-button-prev">
              <span class="bi-chevron-left"></span>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero Slider Section -->


  <!-- ======= Post Grid Section ======= -->

  <!-- Product Card list -->
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for i in products %}
      <div class="col">
        <div class="card h-100">
          <span id="{{i.id}}"></span>
          {% if i.product_images.exists %}
          <a href="{% url 'detail' i.id %}"><img src="{{i.product_images.first.image.url}}" class="card-img-top"
              alt="..." style="height: 350px;"></a>
          {% else %}
          <a href="{% url 'detail' i.id %}"><img src="{{i.no_image.url}}" class="card-img-top" alt="..."
              style="height: 300px;"></a>
          {% endif %}
          <form action="" method="post" id="{{i.id}}" style="position: absolute; margin-left: 360px; display: flex; margin-top: 1px;">
            {% csrf_token %}
          {% if request.user in i.likes.user.all %}
          <input type="hidden" name="p_id" value="{{i.id}}">
          <button type="submit" class="btn btn-info" style="background: transparent; border: none; color: red; font-size: 19px;">
          <i class="bi bi-heart-fill"></i>
          </button><br>
          {% else %}
          <input type="hidden" name="p_id" value="{{i.id}}">
          <button type="submit" class="btn btn-danger" style="color: white; background: deeppink; border: none;">
          <i class="bi bi-heart-fill"></i>
          </button><br>
          {% endif %}
        </form>
          <div class="card-body" style="float: right;">
            <h5 class="card-title">{{i.name}}</h5>
            {% if request.user == i.user %}
            <span style="text-align: center;">edit</span>
            {% endif %}
            <i class="fa-solid fa-pen-to-square"></i>
            <p class="card-text">{{i.description}}</p>
            <p class="card-text">{{i.price}} <span style="color: green;">$</span></p>
            <p class="card-text">{{i.category}}</p>
            <hr style="background-color: blue; color: blue; width: 200px;">
            <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
     delete 
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">DELETE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color: red;">
        Aniq o'shirishni hohlaysizmi ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">YOQ</button>
        <button type="button" class="btn btn-primary"><a href="{% url 'delete' i.id %} " class="btn btn-primary">HA</a></button>
      </div>
    </div>
  </div>
</div><br><hr style="background-color: blue; color: blue; width: 200px;">
<a href="{% url 'edit' i.id %}"><button type="submit" class="btn btn-primary">edit</button></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>



  <!-- End Product -->


</main><!-- End #main -->
</body>


<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script> 


{% endblock %}